.card {
	border: 2px solid $gainsboro;
	border-radius: 0.5rem;
	box-shadow: $subtleBoxShadow;
	flex: 0 1 17.5%;
	margin: 1% 0.5%;
	padding-bottom: 1%;
	text-align: center;

	&__sprite-row {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1% 0;
	}

	&__heading {
		font-size: 1.5rem;
		font-weight: 700;
		margin-bottom: 6%;
	}

	&__button {
		border: 2px solid $funBlue;
		border-radius: 2rem;
		color: $funBlue;
		display: block;
		font-weight: 600;
		margin: $marginCenter;
		padding: 1.5% 0;
		transition: $transitionSmoothShort;
		width: 66%;

		@media (hover) {
			&:hover,
			&:active,
			&:focus {
				background-color: $funBlue;
				color: $gainsboro;
			}
		}
	}
}
