.footer {
	@include size(5.5rem, 100%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	bottom: 0;
	background-color: $milanoRed;
	color: $gainsboro;
	text-align: center;

	// &__text {
	// }

	&__icon-row {
		margin-top: 0.5%;
	}

	&__icon {
		font-size: 1.5rem;
		margin: 0 0.5%;
		transition: $transitionSmoothShort;

		@media (hover) {
			&:hover,
			&:active,
			&:focus {
				opacity: 0.8;
			}
		}
	}
}
