// Use mixins inside a selector like this: @include size(2rem, 3rem);

@mixin size($height, $width: $height) {
	height: $height;
	width: $width;
}

@mixin flex($align-items, $justify-content) {
	display: flex;
	align-items: $align-items;
	justify-content: $justify-content;
}
