@import 'variables';

// Use placeholders inside a selector like this: @extend %absolute-center;

%pseudo-element {
	content: '';
	position: absolute;
}

%absolute-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

%section-padding {
	padding: 0 10%;

	@media #{$desktopSmall} {
		padding: 0 7%;
	}

	@media #{$laptopSmall} {
		padding: 0 5%;
	}
}
